@import './mixins';
@import './variables';

.accordion {
  max-width: 286px;
  min-width: 286px;
  height: 100%;
  padding: 30px 15px 30px 15px;
  background-color: #ffffff;
  &__header {
    position: relative;
    .accordion__title {
      display: flex;
      margin-bottom: 19px;
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 14px;
        padding: 3px;
        border: solid #3e3e3e;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg) translateY(-50%);
      }
      .accordion__icon {
        margin-right: 9px;
      }
      & h3 {
        @include textStyle('Helvetica', sans-serif, 400, 13px, 25px, normal);
        color: #259609;
      }
      & #acc-close {
        appearance: none;
        width: 0;
        height: 0;
      }
    }
  }
  .accordion__items {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    padding-top: 12px;
    .accordion__item {
      padding-left: 10px;
      padding-right: 7px;
      padding-top: 12px;
      padding-bottom: 12px;
      .item__title {
        position: relative;
        display: block;
        @include textStyle('Helvetica', sans-serif, 700, 16px, 22px, normal);
        cursor: pointer;
        transition: background 0.5s ease-out;
        &:hover {
          border-radius: 3px;
          background-color: #f2f2f2;
        }
        &::after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          right: 5px;
          padding: 3px;
          border: solid #3e3e3e;
          border-width: 0 1px 1px 0;
          transform: rotate(-45deg) translateY(-50%);
        }
      }
      .item__content {
        display: none;
        margin-top: 12px;

        .item__button {
          all: unset;
          display: block;
          width: 100%;
          padding: 10px 0px 10px 12px;
          cursor: pointer;
          @include textStyle('Helvetica', sans-serif, 400, 14px, 22px, normal);
          transition: background 0.5s ease-out;

          &_active,
          &_active:hover {
            background-color: rgb(37, 150, 9, 0.15);
            color: #259609;
          }
          &:hover {
            border-radius: 3px;
            background-color: #f2f2f2;
          }
        }
      }
      .item__input {
        position: absolute;
        appearance: none;
        width: 0;
        height: 0;
        &:checked ~ .item__content {
          display: block;
        }
        &:checked ~ .item__title {
          color: #259609;
        }
        &:checked ~ .item__title::after {
          transform: rotate(45deg) translateY(-50%);
          border-color: #259609;
        }
      }
    }
  }

  &__main-button {
    all: unset;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgb(37, 150, 9, 0.35);
    border-radius: 3px;
    @include textStyle('Helvetica', sans-serif, 700, 14px, 16px, normal);
    color: #259609;
    cursor: pointer;
  }
  &__items_hidden,
  &__main-button_hidden {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .accordion {
    max-width: 329px;
    min-width: 329px;
    padding: 0;
	 
    &__header {
      padding: 16px 0 14px 26px;
      background: #f1f1f1;
      border-radius: 3px;
		cursor: pointer;
      .accordion__title {
        margin: 0;
		  cursor: pointer;
		  &::after {
			right: 24px;
		  }
        .accordion__icon {
        }
        & h3 {
          @include textStyle('Helvetica', sans-serif, 500, 16px, 22px, normal);
          color: black;
        }
      }
    }
    &__items {
      .accordion__item {
        .item__title {
          &:hover {
          }
          &::after {
          }
        }
        .item__content {
          .item__button {
            &_active,
            &_active:hover {
            }
            &:hover {
            }
          }
        }
        .item__input {
          &:checked ~ .item__content {
          }
          &:checked ~ .item__title {
          }
          &:checked ~ .item__title::after {
          }
        }
      }
    }
    &__main-button {
    }
  }
}
