@import './mixins';

.accordion {
  width: 286px;
  background-color: white;
  &__header {
    position: relative;
    margin-top: 30px;
    padding: 0 15px;
    .accordion__title {
      display: flex;
      margin-bottom: 19px;
      .accordion__icon {
        margin-right: 9px;
      }
      & h3 {
        @include textStyle('Helvetica', sans-serif, 400, 13px, 25px, normal);
        color: #259609;
      }
      & #acc-close {
        appearance: none;
        width: 0;
        height: 0;
      }
    }
  }
  &__line {
    margin-bottom: 22px;
    border-color: #ececec;
  }
  &__item {
    padding-left: 28px;
    padding-right: 15px;

    .item__title {
      position: relative;
      display: block;
      // padding: 20px 0;
      @include textStyle('Helvetica', sans-serif, 700, 16px, 22px, normal);
      cursor: pointer;
      transition: background 0.5s ease-out;
      &:hover {
        border-radius: 3px;
        background-color: #f2f2f2;
      }
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 50%;
        right: 5px;
        padding: 3px;
        border: solid #3e3e3e;
        border-width: 0 1px 1px 0;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
    .item__content {
      display: none;
      // margin-top: -10px;
      .item__button {
        all: unset;
        width: 100%;
        padding: 12px 7px 12px 13px;
        @include textStyle('Helvetica', sans-serif, 400, 14px, 22px, normal);
        transition: background 0.5s ease-out;
        &:hover {
          border-radius: 3px;
          background-color: #f2f2f2;
        }
      }
    }
    .item__input {
      appearance: none;
      width: 0;
      height: 0;
      &:checked ~ .item__content {
        display: block;
      }
      &:checked ~ .item__title {
        color: #259609;
      }
      &:checked ~ .item__title::after {
        transform: rotate(45deg) translateY(-50%);
        border-color: #259609;
      }
    }
  }
  &__main-button {
    all: unset;
    padding: 15px 0;
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid rgb(37, 150, 9, 0.35);
    border-radius: 3px;
    @include textStyle('Helvetica', sans-serif, 700, 14px, 16px, normal);
    color: #259609;
  }
}
