@import './mixins';
.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  column-gap: 20px;
  row-gap: 20px;
  .cards__loader {
    flex: 0 0 100%;
    margin-top: 20px;
    text-align: center;
    .loader__text {
      @include textStyle('Helvetica', sans-serif, 700, 14px, 15px, normal);
      text-transform: uppercase;
		cursor: pointer;
    }
    .loader__icon {
      margin-left: 5px;
      vertical-align: bottom;
		cursor: pointer;
    }
  }
}
@media screen and (max-width: 600px) {
	.cards {
		min-width: 329px;
	}
}
