@import './mixins';
.card {
  position: relative;
  width: 282px;
  height: 405px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.06);
  border-radius: 2px;
  &:hover .card__front {
    transform: perspective(600px) rotateY(-180deg);
  }
  &:hover .card__back {
    background: #259609;
    box-shadow: 0px 22px 37px rgba(0, 0, 0, 0.2);
    transform: perspective(600px) rotateY(0deg);
  }
  .front__button,
  .back__button {
    all: unset;
    width: 100%;
    padding: 12px 0 15px 0;
    text-align: center;
    text-transform: uppercase;
    border-radius: 3px;
    @include textStyle('Helvetica', sans-serif, 700, 14px, 16px, normal);
  }
  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    backface-visibility: hidden;
    transition: transform 0.5s linear;
  }
  &__front {
    border-top: 6px solid #259609;
    transform: perspective(600px) rotateY(0deg);
    .front__content {
      margin: 25px 30px 30px 30px;
      .front__logo {
        display: block;
        margin-left: auto;
        margin-bottom: 27px;
      }
      .front__category {
        margin-bottom: 8px;
        text-transform: uppercase;
        @include textStyle('Helvetica', sans-serif, 400, 13px, 20px, normal);
        color: #259609;
      }
      .front__profession {
        margin-bottom: 77px;
        @include textStyle('Helvetica', sans-serif, 700, 20px, 30px, normal);
      }
      .front__education,
      .front__frequency {
        display: flex;
        align-items: center;
        column-gap: 12px;
        h4 {
          @include textStyle('Helvetica', sans-serif, 400, 14px, 16px, normal);
        }
      }
      .front__education {
        margin-bottom: 2px;
      }
      .front__frequency {
        margin-bottom: 30px;
      }
      .front__button {
        background: #259609;
      }
    }
  }
  &__back {
    color: #ffffff;
    transform: perspective(600px) rotateY(180deg);
    .back__content {
      margin: 25px 30px 30px 30px;
      .back__direction {
        padding-right: 50px;
        margin-bottom: 17px;
        @include textStyle('Helvetica', sans-serif, 700, 16px, 22px, normal);
        color: #ffffff;
      }
      .back__duration,
      .back__start {
        @include textStyle('Helvetica', sans-serif, 700, 14px, 22px, normal);
        color: #ffffff;
      }

      .back__duration {
      }
      .back__min-duration,
      .back__max-duration,
      .back__start-dates {
        @include textStyle('Helvetica', sans-serif, 400, 14px, 22px, normal);
        color: #ffffff;
      }
      .back__max-duration {
        margin-bottom: 20px;
      }
      .back__start {
      }
      .back__start-dates {
        margin-bottom: 31px;
      }
      .back__cost {
        margin-bottom: 14px;
        @include textStyle('Helvetica', sans-serif, 700, 32px, 44px, normal);
        color: #ffffff;
      }
      .back__button {
        background-color: #ffffff;
      }
    }
  }
}
