$bg-color-desktop: #F7F7F7;
$bg-color-mobile: #ffffff;
$accordion-header-title-color: #259609;
$accordion-bg-color-desktop: #ffffff;
$accordion-border-color: #ececec;
$accordion-hover-item-bg-color: #f2f2f2;
$accordion-active-item-bg-color: rgb(37, 150, 9, 0.15);
$accordion-active-item-text-color: #259609;
$accordion-active-arrow-color: #259609;
$accordion-main-btn-border-color: rgb(37, 150, 9, 0.35);
$accordion-main-btn-text-color: #259609;
$mobile-accordion-header-bg: #f1f1f1;
$card-front-bg: #ffffff;
$card-inactive-shadow-color: rgba(0, 0, 0, 0.06);
$card-border-color: #259609;
$card-border-color: #259609;
$card-back-bg: #259609;
$card-active-shadow-color: rgba(0, 0, 0, 0.2);
$card-back-btn-text-color: #ffffff;
$card-back-btn-bg-color: rgba(255, 255, 255, 0.25);
$card-front-category-color: #259609;
$card-front-btn-bg: #259609;
$card-front-btn-text: #ffffff;
$card-back-text-color: #ffffff;
$card-back-btn-bg: #ffffff;
$card-back-btn-text: #259609;
$card-active-bg: #f7f7f7;